<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style>
body{
  font-size:100px;
}
</style>
<script>
var scrollTopValue = 0;
$(document).scroll(function(){
  scrollTopValue = $(this).scrollTop();
  console.log(scrollTopValue);
});
  var socket = io();
  socket.on('connect', function(){
    console.log('conneced');
  });
  socket.on('new client', function(doc){
    console.log(doc.text);
  });
  socket.on('eyes open', function(){
    console.log('eyes open!!!');
    $(document).scrollTop(scrollTopValue+=100);
  });
</script>
<body>


hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
</body>
