<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style>
body{
  font-size:100px;
}
</style>
<script>
var arrayValues = [];
var scrollTopValue = 0;
$(document).scroll(function(){
  scrollTopValue = $(this).scrollTop();
  console.log(scrollTopValue);
});
  var socket = io();
  socket.on('connect', function(){
    console.log('conneced');
  });
  socket.on('new client', function(doc){
    console.log(doc.text);
  });
  var current = 100;
  socket.on('eyes open', function(){
    console.log('eyes open!!!');
    $('body').scrollTop(scrollTopValue+=100);
    scrollTopValue+=100;
  });
  setTimeout(function(){
    $('body').scrollTop(scrollTopValue+=100);
  },2000);

  socket.on('challen', function(doc){
    if(arrayValues.length < 150){
      arrayValues.push(doc.text);
    }else{
      arrayValues.push(doc.text);
      const index = arrayValues.length;
      arrayValues.splice(index, 1);
    }
    console.log(arrayValues);
    console.log(arrayValues.length);
  });
</script>
<body>
<style>
body{
  position:absolute;
}
.movedown{
  top:0;
  transition: all 250ms ease-in-out;
  margin-bottom:100px;
}
body{
  transition:all 250ms ease-in-out;
}
</style>


hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!hi!hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
</body>
